html, body {
  scroll-behavior: smooth;
  height:100%;
  width:100%;
  margin:0;
  padding:0%;
  font-family: 'Montserrat', sans-serif;
}

/* Sections of Layout
-------------------------------------- */
/* Generic styles for demo purposes
-------------------------------------- */

/*link colour*/
<style>
a:link {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #9a4246;
  background-color: transparent;
  text-decoration: underline;
}

/* Now let's apply grid for wider viewports. */
@media screen and (min-width: 40em) {
  


  nav{
    width:100%;
    background:#c38d83;
    overflow: hidden;
    position: fixed;
    top:0;
    text-transform: uppercase;
    font-size: small;
    color: #fff;
  }

  ul{
    padding: 0;
    margin:0;
    list-style: none;
  }

  li{
    float: left;
  }

  a{
    padding:20px;
    width: 100px;
    display: block;
    font-weight: 900;
  }


#section1{
  height:700px;
  background: #1c344a;
  display: inline-block;
  width: 100%;
  color: #fff;
}
#section2{
  height:700px;
  background: #42677f;
  display: inline-block;
  width: 100%;
}

#section3{
  height:900px;
  background: #1c344a;
  display: inline-block;
  width: 100%;
  color: #fff;
}

  .assignments{
    grid-row: 3;
    grid-column: 2;
  }



.imageCenter {
  display: block;
  margin-top: 170px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }
/* styling figure caption */
figcaption {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(229, 229, 229);
  font-style: italic;
  font-size: small;
  padding: 0px;
  text-align: match-parent;
}


/*font size*/
h1 {
  font-size: 300;
}

h2 {
  font-size: 200;
}

p {
  font-size: 100;
}
}